body {
  background-color: #95E616;
}
.valid {
  color: green !important;
}

.isValidMessage {
  color: red;
}

h1 {
  color: #2B0A3D;
  padding: 150px 0px 50px 0px;
}

mat-card {
  max-width: 400px;

  mat-icon {
    font-size: 32px;
    line-height: 70%;
  }
  mat-card-content > span {
    margin: auto;
  }
}

form {
  width: 100%;
}
.vertical-center {
  line-height: 90%;
}

.big-input {
  width: 100%;
  transition: all 0.5s;
  display: flex;
  padding: 10px 20px 10px 20px;

  &.has-focus {
    box-shadow: 0 0 15px 2px #5eb8ff, 0 0 15px 2px #5eb8ff, 0 0 15px 2px #5eb8ff;
  }

  input {
    flex-grow: 1;
    border: 0;
    font-size: 20px;
    min-width: 100px;
    outline: none;
    border: 0;
    box-shadow: inset 0 0 0 1px white, inset 0 0 0 100px white;
  }

  button {
    padding: 0;
    min-width: 36px;
    margin-left: 10px;

    mat-icon {
      position: relative;
      top: 2px;
      font-size: 18px;
    }
  }
}
